body[arco-theme="dark"] .web3go-add-filter-drawer {}

.web3go-add-filter-drawer {
    width: 100%;

    .switch-list {
        .s-item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &+.s-item {
                margin-top: 24px;
            }


            .text {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #4E5969;
            }
        }
    }
}