// import dark theme
// @use "element-plus/theme-chalk/src/dark/css-vars.scss"as *;

:root {
  --el-color-primary: #615CF6;
  --el-color-success: #00B462;
  --el-color-warning: #FFC225;
  --el-color-danger: #F34D4D;
  --el-color-error: #F34D4D;
  --el-color-info: #C8CDDA;
}

html.dark body {
  --el-color-primary: #615CF6;
  --el-color-success: #00B462;
  --el-color-warning: #FFC225;
  --el-color-danger: #F34D4D;
  --el-color-error: #F34D4D;
  --el-color-info: #C8CDDA;
}

body {
  font-family: "Inter", "PingFang SC",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}

html body {
  --el-border-radius-base: 12px;
  --77Color: #777E90;
  --F8Color: #F8F8F8;
}

.el-dialog {
  border-radius: 16px;

  .el-dialog__header {
    padding: 40px;
    padding-bottom: 10px;

    .el-dialog__title {
      color: var(--F8Color);
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
    }

    .el-dialog__headerbtn {
      top: 25px;
      right: 25px;

      .el-dialog__close {
        font-size: 22px;
      }
    }
  }

  .el-dialog__body {
    padding: 0 40px;
  }

  .el-dialog__footer {
    padding: 20px 40px;
  }
}

.el-form {
  .el-form-item {
    margin-bottom: 24px;
  }

  .el-form-item__label {
    font-weight: 400;
    font-size: 14px;
    color: var(--F8Color);
  }

  .el-form-item__error {
    display: flex;
    align-items: center;
  }

  .el-form-item__error::before {
    margin-right: 2px;
    content: '';
    width: 12px;
    height: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(@/assets/layout/waring.png);
    display: inline-block;
  }
}

.el-form-item.is-required:not(.is-no-asterisk).asterisk-right>.el-form-item__label:after,
.el-form-item.is-required:not(.is-no-asterisk).asterisk-right>.el-form-item__label-wrap>.el-form-item__label:after {
  content: ".";
  color: var(--el-color-danger);
  display: inline-block;
  transform: translateY(-13px) scale(3);
  margin-left: 4px;
}

.el-input {
  height: 48px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--77Color);

  .el-input__wrapper {
    padding: 0 12px;

  }
}

.el-message {
  border-radius: 8px;
  height: 56px;

  .el-message__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}

html.dark {
  background: rgb(23, 23, 26);

  .el-dialog {
    background: #232324;
  }

  .el-message {
    background: #373739;
    border: 1px solid #525461;
    border-radius: 8px;

    .el-message__content {
      color: #C9CDD4;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(38, 38, 38, 0.2);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ededed;
}

.hover-item {
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}