// import dark theme
// @use "element-plus/theme-chalk/src/dark/css-vars.scss"as *;

html body,
html.dark body {
  --el-color-primary: #615CF6;
  --el-color-primary-light-3: #908df9;
  --el-color-primary-light-5: #b0aefb;
  --el-color-primary-light-7: #d0cefc;
  --el-color-primary-light-8: #dfdefd;
  --el-color-primary-light-9: #efeffe;
  --el-color-primary-dark-2: #4e4ac5;
  --el-color-success: #00B462;
  --el-color-success-light-3: #4dcb91;
  --el-color-success-light-5: #80dab1;
  --el-color-success-light-7: #b3e9d0;
  --el-color-success-light-8: #ccf0e0;
  --el-color-success-light-9: #e6f8ef;
  --el-color-success-dark-2: #00904e;
  --el-color-warning: #FFC225;
  --el-color-warning-light-3: #ffd466;
  --el-color-warning-light-5: #ffe192;
  --el-color-warning-light-7: #ffedbe;
  --el-color-warning-light-8: #fff3d3;
  --el-color-warning-light-9: #fff9e9;
  --el-color-warning-dark-2: #cc9b1e;
  --el-color-danger: #F34D4D;
  --el-color-danger-light-3: #f78282;
  --el-color-danger-light-5: #f9a6a6;
  --el-color-danger-light-7: #fbcaca;
  --el-color-danger-light-8: #fddbdb;
  --el-color-danger-light-9: #feeded;
  --el-color-danger-dark-2: #c23e3e;
  --el-color-error: #F34D4D;
  --el-color-error-light-3: #f78282;
  --el-color-error-light-5: #f9a6a6;
  --el-color-error-light-7: #fbcaca;
  --el-color-error-light-8: #fddbdb;
  --el-color-error-light-9: #feeded;
  --el-color-error-dark-2: #c23e3e;
  --el-color-info: #C8CDDA;
  --el-color-info-light-3: #d9dce5;
  --el-color-info-light-5: #e4e6ed;
  --el-color-info-light-7: #eff0f4;
  --el-color-info-light-8: #f4f5f8;
  --el-color-info-light-9: #fafafb;
  --el-color-info-dark-2: #a0a4ae;
}

body {
  font-family: "Inter", "PingFang SC",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}

html body {
  --el-border-radius-base: 12px;
  --77Color: #777E90;
  --F8Color: #F8F8F8;
}

.el-dialog {
  border-radius: 16px;

  .el-dialog__header {
    padding: 40px;
    padding-bottom: 10px;

    .el-dialog__title {
      color: var(--F8Color);
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
    }

    .el-dialog__headerbtn {
      top: 25px;
      right: 25px;

      .el-dialog__close {
        font-size: 22px;
      }
    }
  }

  .el-dialog__body {
    padding: 0 40px;
  }

  .el-dialog__footer {
    padding: 20px 40px;
  }
}

.el-form {
  .el-form-item {
    margin-bottom: 24px;
  }

  .el-form-item__label {
    font-weight: 400;
    font-size: 14px;
    color: var(--F8Color);
  }

  .el-form-item__error {
    display: flex;
    align-items: center;
  }

  .el-form-item__error::before {
    margin-right: 2px;
    content: '';
    width: 12px;
    height: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(@/assets/layout/waring.png);
    display: inline-block;
  }
}

.el-form-item.is-required:not(.is-no-asterisk).asterisk-right>.el-form-item__label:after,
.el-form-item.is-required:not(.is-no-asterisk).asterisk-right>.el-form-item__label-wrap>.el-form-item__label:after {
  content: ".";
  color: var(--el-color-danger);
  display: inline-block;
  transform: translateY(-13px) scale(3);
  margin-left: 4px;
}

.el-input {
  height: 48px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--77Color);

  .el-input__wrapper {
    padding: 0 12px;

  }
}

.el-message {
  border-radius: 8px;
  height: 56px;

  .el-message__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}

html.dark {
  background: rgb(23, 23, 26);

  .el-dialog {
    background: #232324;
  }

  .el-message {
    background: #373739;
    border: 1px solid #525461;
    border-radius: 8px;

    .el-message__content {
      color: #C9CDD4;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(38, 38, 38, 0.2);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ededed;
}

.hover-item {
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.common-bread {
  display: flex;
  align-items: center;

  .item {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    &.active {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .split {
    margin: 0 8px;
  }
}