$--colors: (
  "primary": (
    "base": #615CF6,
  ),
  "success": (
    "base": #00B462,
  ),
  "warning": (
    "base": #FFC225,
  ),
  "danger": (
    "base": #F34D4D,
  ),
  "error": (
    "base": #F34D4D,
  ),
  "info": (
    "base": #165DFF,
  ),
);

// we can add this to custom namespace, default is 'el'
@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: "ep"
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ("default": 50px)
);

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

// custom dark variables
@use "./dark.scss";
